.CompanyCard {
  text-align: left;
  text-decoration: none;
  color: black;
  margin: 1rem 0;
}

.CompanyCard-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CompanyCard-card-top img {
  max-width: 60px;
}

